html {
    background: #e0e0e0;
}

body {
    width: 690px;
    margin: 20px auto;
    font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
    font-size: 90%;
    color: rgb(54, 47, 45);
    background: #fff;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    -moz-border-radius: 8px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
}

a {
    color: #1F8CE6;
}

/** Main **/

.fError, .fSuccess {
    text-align: center;
    position: relative;
    top: -10px;
}

.fError {
    color: #c00;
}

.fSuccess {
    color: #0c0;
}

#content {
    padding: 20px;
}


/** Header **/

#header {
    height: 250px;
    position: relative;
    background: #fff url(../images/logo.png) 260px 40px no-repeat;
}

#header h1 {
    margin: 0;
    background: #F0F9FF;
    color: #000;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 24px;
    font-weight: 900 !important;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
}

#header h1 a {
    color: #1F8CE6
}

#header #options {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 80%;
    color: #000;
}

#header #options a {
    color: #1F8CE6;
}

/** Signin **/

#index {
    text-align: center;
}

#signin {
    text-align: center;
}

#formSignIn {
    border-bottom: 1px dashed #aaa;
    width: 300px;
    margin: 0 auto;
    padding: 0;
}

#formSignIn label {
    text-align: right;
}

#formSignIn p.buttons {
    text-align: center;
    background: none;
    margin-top: 0;
}

/** Table **/

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
}

th {
    background: #F0F9FF !important;
}

td, th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/** Forms **/

label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

form p {
    text-align: center;
    height: 20px;
}

form p.field {
    text-align: left;
    margin: 0 0 5px 0;
}

form strong {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 10px;
    background: #fff;
    padding: 2px;
}

form p {
    clear: both;
    text-align: left;
    margin: 7px 0;
    min-height: 15px;
}

form p.hasError {
    color: #c00;
}

form .hasError .error {
    font-size: 80%;
}

form .buttons {
    text-align: center;
    background: #F0F9FF;
    padding: 10px;
    margin-top: 20px;
}

.freshbutton-blue {
padding: 0px 25px 0px 25px;
text-decoration: none;
font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
font-size: 90%;
-webkit-appearance: none;
-webkit-user-select: none;
-webkit-tap-highlight-color: transparent;
color: #fff;
border: 1px solid #1c74b3;
border-top-color: #2c8ed1;
border-bottom-color: #0d5b97;
background: #2181cf;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#37a3eb", endColorstr="#2181cf");
background: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
background: -moz-linear-gradient(top, #37a3eb, #2181cf);
-moz-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
-webkit-box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
text-shadow: rgba(0,0,0,0.2) 0 1px 0;
-webkit-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
-moz-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
}

.freshbutton-blue a {
    color: #fff;
    text-decoration: none !important;
}

/** Footer **/

#footer {
    padding: 10px;
    font-size: 70%;
    border-top: 1px dotted #ccc;
    text-align: center;
}

