{{set . "title" "Edit User"}}
{{template "header.html" .}}

<h1>Edit User:</h1>

<form action="{{url "Users.Update"}}" method="POST">
  {{with $field := field "user.UserId" .}}
    <p class="{{$field.ErrorClass}}">
    <strong>Id:</strong>        
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Value}}" readonly>
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "user.Name" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Name:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Value}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "user.Username" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Username:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Value}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
 <p class="buttons">
    <input type="submit" class="freshbutton-blue" value="Submit"> <a href="{{url "Users.Index"}}" class="freshbutton-blue">Cancel</a>
  </p>
</form>

{{template "footer.html" .}}
