{{if .users}}
<table>
  <thead>
    <tr>
      <th>UserId</th>
      <th>Name</th>
      <th>Username</th>
      <th width="20%">Action</th>
    </tr>
  </thead>
  <tbody>
    {{range .users}}
    <tr>
      <td>{{.UserId}}</td>
      <td>{{.Name}}</td>
      <td>{{.Username}}</td>
      <td>
        <a href="{{url "Users.Show" .UserId}}">View</a>
	<a href="{{url "Users.Edit" .UserId}}">Edit</a>
        <a href="{{url "Users.Delete" .UserId}}">Delete</a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
<p>
  <a id="nextPage" href="{{.nextPage}}" class="freshbutton-blue">More results</a>
</p>

{{else}}
<p>
  No more results
</p>
{{end}}

