{{template "header.html" .}}

<h1>View user</h1>

{{with .user}}
  <p>
    <strong>UserId:</strong> {{.UserId}}
  </p>
  <p>
    <strong>Name:</strong> {{.Name}}
  </p>
  <p>
    <strong>Username:</strong> {{.Username}}
  </p>

  <p class="buttons">
    <a href="{{url "Users.Index"}}" class="freshbutton-blue">Back to search</a>
  </p>
</form>
{{end}}

{{template "footer.html" .}}
