{{set . "title" "Create a Matlab Instance"}}
{{template "header.html" .}}

<h1>Create a Matlab Instance:</h1>

<form action="{{url "Matlab.Save"}}" method="POST">
  {{with $field := field "i.Filename" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Filename:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "i.Input1" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Input1:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "i.Input2" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Input2:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "i.Input3" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Input3:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}
  {{with $field := field "i.Input4" .}}
    <p class="{{$field.ErrorClass}}">
      <strong>Input4:</strong>
      <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
      <span class="error">{{$field.Error}}</span>
    </p>
  {{end}}

  <p class="buttons">
    <input type="submit" value="Create"> <a href="{{url "Matlab.Index"}}">Cancel</a>
  </p>
</form>

{{template "footer.html" .}}

