{{set . "title" "Matlab Instance Control Panel"}}
{{template "header.html" .}}

<h1>Search Instances</h1>

<p>
  <input type="text" id="search" size="30">
  <input type="submit" id="submit" value="Find Instances">

  <br>

  Maximum results:
  <select id="size">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
  </select>
</p>

<div id="result">
</div>

<script type="text/javascript" charset="utf-8">

  // Rebuild state
  $('#search').val(sessvars.search)
  if(sessvars.page == undefined) {
      sessvars.page = 1
  }
  if(sessvars.size == undefined) {
      sessvars.size = 10
  }
  $('#size option[value='+sessvars.size+']').attr('selected', 'true')

  // Search function
  var search = function() {
      sessvars.search = $('#search').val()
      sessvars.size = $('#size').val()
      $.get("/matlab/list", {
        "search": sessvars.search,
        "size": sessvars.size,
        "page": sessvars.page
      }, function(data) {
          $('#result').html(data)
          $('#content').css('visibility', 'visible')
      })
  }

  // Events handler
  $('#submit').click(function() {
      sessvars.page = 1
      search()
  })
  $('#search').keyup(function() {
      sessvars.page = 1
      search()
  })
  $('#nextPage').live('click', function(e) {
      sessvars.page = $(this).attr('href')
      e.preventDefault()
      search()
  })

  // Init
  if(sessvars.search != undefined) {
      $('#content').css('visibility', 'hidden')
      search()
  }

</script>

<h1>Available Instances</h1>

<a href="{{url "Matlab.Create"}}">Create a new Instance</a>

{{if not .instances}}
<p>
  No Instances Found
</p>
{{else}}

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>UserId</th>
      <th>Filename</th>
      <th>Input1</th>
      <th>Input2</th>
      <th>Input3</th>
      <th>Input4</th>
      <th>Running</th>  
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{range .instances}}
    <tr>
      <td>{{.Id}}</td>
      <td>{{.UserId}}</td>
      <td>{{.Filename}}</td>
      <td>{{.Input1}}</td>
      <td>{{.Input2}}</td>   
      <td>{{.Input3}}</td>
      <td>{{.Input4}}</td>   
      <td>{{.Running}}</td>
      <td>
        <form id="d{{.Id}}" method="POST" action="matlab/instance/{{.Id}}/run">
          <a href="javascript:document.getElementById('d{{.Id}}').submit();">Run</a>
 	 </form>
	 <a href="{{url "Matlab.Edit" .Id}}">Edit</a>
	 <a href="{{url "Matlab.Delete" .Id}}">Delete</a>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}

{{template "footer.html" .}}

