{{set . "title" "Home"}}
{{template "header.html" .}}

<div id="index">
  <form action="{{url "Application.SignUp"}}" id="formSignIn" method="POST">
     <p class="buttons">
          <input name="register-submit-dummy" value="Sign up" class="freshbutton-blue" type="submit" id="register-submit" tabindex="10">
    </p>
  </form>
  <p> or <a href="{{url "Application.SignIn"}}" class="freshbutton-blue">Sign In</a>
  </p>

</div>

{{template "footer.html" .}}
