{{set . "title" "Home"}}
{{template "header.html" .}}

<div id="signin">

  (try with demo/demo)

  <form action="{{url "Application.SignedIn"}}" id="formSignIn" method="POST">
    <p class="field">
      <label>Username:</label>
      <input type="text" name="username" size="19" value="{{.flash.username}}" />
    </p>
    <p class="field">
      <label>Password:</label>
      <input type="password" name="password" size="19"/>
    </p>
    <p class="buttons">
      <input type="submit" name="signin" class="freshbutton-blue" value="Sign In" />
    </p>
  </form>

  <p>
    <a href="{{url "Application.Index"}}" class="freshbutton-blue">Cancel</a>
  </p>

</div>

{{template "footer.html" .}}
