<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="/public/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="/public/css/bootstrap.css">-->

    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/sessvars.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>

    <div id="header">
      <h1>Mosart Omega Prototype</h1>
      {{if .user}}
        <div id="options">
		Connected as <span id="username">{{.user.Username}}</span>
          |
          <a href="{{url "Matlab.Index"}}">Matlab</a>
          |
          <a href="{{url "Users.Index"}}">Users</a>
          |
          <a href="{{url "Application.SignOut"}}">Sign Out</a>
        </div>
      {{end}}
    </div>

    <div id="content">
      {{if .flash.error}}
        <p class="fError">
          <strong>{{.flash.error}}</strong>
        </p>
      {{end}}
      {{if .flash.success}}
        <p class="fSuccess">
          <strong>{{.flash.success}}</strong>
        </p>
      {{end}}


